AddDefaultCharset utf-8

Options +FollowSymLinks +ExecCGI

# It's very useful to run dispatch.fcgi as a regular CGI module when
# doing development work, as useful error messages are then dumped
# to error.log
#AddHandler cgi-script .fcgi
#AddHandler fastcgi-script .fcgi

RewriteEngine On
RewriteRule ^(dispatch\.fcgi/.*)$ - [L]
RewriteRule ^(static/.*)$ - [L]
RewriteRule ^toscawidgets/resources/(sipbmp3web/public/.*)$ $1
RewriteRule ^sipbmp3web/.*$ - [L]
RewriteRule ^(.*)$ dispatch\.fcgi/$1 [L]

ExpiresActive On
ExpiresByType image/png "access plus 1 month"
ExpiresByType application/x-javascript "access plus 1 month"
ExpiresByType text/css "access plus 1 month"

