html {
    margin: 0;
    height: 100%;
}
body {
    font-size: 87.5%;
    line-height: 1.5em;
    font-family: Tahoma, Sans, sans-serif;
    height: 100%;
    margin: 0;
}
#header h1 {
    margin-top: 0;
    padding-top: 2em;
    margin-bottom: 0.3em;
}
#header h1 .web {
    color: #0BF;
}
#header .subtitle {
    margin-bottom: 1em;
    margin-top: 0;
    margin-left: 9em;
}
ul#mainmenu {
    margin: 0 0 2em 0;
    padding: 0;
}
ul#mainmenu li {
    list-style-type: none;
    display: inline;
    margin: 0 0.6em;
    padding: 0 0.3em;
}
ul#mainmenu li.first {
    margin-left: 0;
}
ul#mainmenu li .active {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.wrapper {
    min-height: 100%;
    margin: 0 auto -3em;
    padding: 0 3em;
    max-width: 50em;
}
.push {
    height: 3em;
}
#footer {
    height: 3em;
    text-align: right;
    padding: 0 3em;
}
#flash {
    font-size:120%;
    font-weight:bolder;
    margin:0pt auto 0.5em;
    width:680px;
}
#flash div {
    padding:5px 15px 15px 55px;
}
#flash .ok {
    background:#EEEEFF url(../images/ok.png) no-repeat scroll left center;
    border:1px solid #CCCCEE;
}
#flash .warning {
    background:#FF9999 url(../images/error.png) no-repeat scroll left center;
    border:1px solid #FF3333;
}
#flash .alert {
    background:#FFFF99 url(../images/info.png) no-repeat scroll left center;
    border:1px solid #FFFF00;
}
.notice {
    background:#EEEEFF url(../images/info.png) no-repeat scroll left center;
    border:1px solid #CCCCEE;
    margin:0.5em auto;
    padding:15px 10px 15px 55px;
    width:680px;
}
.fielderror {
    color:red;
    font-weight:bold;
}
div.clearingdiv {
    clear: both;
}

/* Content CSS */
#volume {
    color: #009;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 1.1em;
}
.labelcol {
    padding-right: 2em;
}
#volume_form_volume_container {
    width: 18em;
}
.has_js #volume_form_volume {
    display:none;
}
