*~
debian/files
debian/*.debhelper
debian/*.substvars
debian/*.debhelper.log
debian/gutenbach/
debian/gutenbach-client/
debian/gutenbach-queue/
debian/gutenbach-remctl/
debian/gutenbach-server/
debian/stamp-makefile-build
debian/tmp/
client/bin/*.1.gz
