#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

printername=""
#zephyrclass=""
hostname=""

if [ -e /usr/lib/gutenbach/config/printername ]; then
    printername=$(cat /usr/lib/gutenbach/config/printername)
    db_set gutenbach/printername "$printername"
fi

#if [ -e /usr/lib/gutenbach/config/zephyrclass ]; then
#    zephyrclass=$(cat /usr/lib/gutenbach/config/zephyrclass)
#    db_set gutenbach/zephyrclass "$zephyrclass"
#fi

if [ -e /usr/lib/gutenbach/config/hostname ]; then
    hostname=$(cat /usr/lib/gutenbach/config/hostname)
    db_set gutenbach/hostname "$hostname"
fi

db_input high gutenbach/printername || true
#db_input high gutenbach/zephyrclass || true
db_input high gutenbach/hostname || true
db_go || true

