Source: gutenbach
Section: sound
Priority: extra
Maintainer: Jessica Hamrick <jhamrick@mit.edu>
Build-Depends: cdbs, debhelper
Standards-Version: 3.8.0

Package: gutenbach
Architecture: all
Pre-Depends: debconf
Depends: ${shlibs:Depends}, ${misc:Depends}, mplayer, libimage-exiftool-perl, lprng | debathena-lprng, sysv-rc, adduser, debathena-zephyr-config, libzephyr3-krb, alsa-base
Description: Server for playing music files from a remote machine
 Allows remote machines to play music files on this machine
 by "printing" them with debathena-lprng.
