Source: gutenbach
Section: sound
Priority: extra
Maintainer: Jessica Hamrick <jhamrick@mit.edu>
Uploaders: Kyle Brogle <broglek@bu.edu>, Quentin Smith <quentin@mit.edu>, Yuri Lin <rye@mit.edu>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.8.4

Package: gutenbach-server
Architecture: all
Pre-Depends: debconf
Depends: ${shlibs:Depends}, ${misc:Depends},openbsd-inetd, mplayer, libimage-exiftool-perl, cups, sysv-rc, adduser, debathena-zephyr-config, alsa-base, update-inetd
Recommends: libzephyr4-krb5
Conflicts: pulseaudio
Provides: pulseaudio
Description: Server for playing music files from a remote machine
 Allows remote machines to play music files on this machine
 by "printing" them with the Common UNIX Printing System (CUPS).

Package: gutenbach-client
Architecture: all
Pre-Depends: debconf
Depends: ${shlibs:Depends}, ${misc:Depends}, cups, libnet-cups-perl, libimage-exiftool-perl
Description: Client-side helper scripts for interacting with
 the Gutenbach music player.

Package: gutenbach-queue
Architecture: all
Pre-Depends: debconf
Depends: ${shlibs:Depends}, ${misc:Depends}, daemon, libnet-cups-perl, gutenbach-server, adduser
Description: Displays metadata about the current songs in the 
 queue for the gutenbach music spooler, and also the song that
 is currently playing.

Package: gutenbach-remctl
Architecture: all
Pre-Depends: debconf
Depends: ${shlibs:Depends}, ${misc:Depends}, gutenbach-server (>= 2.0), alsa-utils, cd-discid, remctl-server, python
Recommends: libzephyr4-krb5
Description: Allows a remote user to control the volume, view
 the current status of the queue, or play tracks from a cd.
