#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

mixer=""
channel=""


if [ -e /usr/lib/gutenbach/remctl/config/mixer ]; then
    mixer=$(cat /usr/lib/gutenbach/remctl/config/mixer)
    db_set gutenbach-remctl/mixer "$mixer"
fi

if [ -e /usr/lib/gutenbach/remctl/config/channel ]; then
    channel=$(cat /usr/lib/gutenbach/remctl/config/channel)
    db_set gutenbach-remctl/channel "$channel"
fi

db_input high gutenbach-remctl/mixer || true
db_input high gutenbach-remctl/channel || true
db_go || true

