Source: gutenbach-client
Section: sound
Priority: extra
Maintainer: Jessica Hamrick <jhamrick@mit.edu>
Build-Depends: cdbs, debhelper (>= 7.4.15ubuntu1)
Standards-Version: 3.8.4

Package: gutenbach-client
Architecture: all
Pre-Depends: debconf
Depends: ${shlibs:Depends}, ${misc:Depends}, cups, libnet-cups-perl
Description: Client-side helper scripts for interacting with
 the Gutenbach music player.
